<div class="outer">
    <div class="container">
        <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">

        <div class="otp border bg-white">
            <img *ngIf="loginDetails.OrgLogo" class="logo" src="{{loginDetails.OrgLogo}}" alt="logo">

            <div *ngIf="loginDetails.IsOTPSend == 1">
                <h4>{{loginDetails.OrgName}}</h4>
                <h4>Safai Karamchari Attendance System</h4>
                <h4>{{loginDetails.UserName}}</h4>
                <h4>Please Enter the OTP </h4>
                <div>
                    <div class="form-group pt-1">
                        <ng-otp-input #otpinput [config]="config"></ng-otp-input>
                    </div>
                    <small *ngIf="incorrectOTP" class="text-danger">*OTP Required</small>
                    <button (click)="onSubmit(otpinput)" type="submit" class="btn btn-primary btn-block mt-4 w-100">Submit</button>
                </div>
                <span>didn't receive OTP? 
                    <countdown #cd *ngIf="timer" class="countdown" [config]="configcd" (event)="clockCounter($event)"> </countdown>
                    <span (click)="resend()" *ngIf="!timer"> Resend</span>
                </span>
            </div>
            <div *ngIf="loginDetails.IsOTPSend != 1">
                <h4>Welcome To</h4>
                <h4>{{loginDetails.OrgName}}</h4>
                <h4>Safai Karamchari Attendance System</h4>
                <h4>{{loginDetails.UserName}}</h4>
                <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Continue</button>
            </div>
        </div>
        </div>
    </div>
</div>


<ng-template #default let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Alert</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label>Wrong OTP!!</label>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.close()">Exit</button>
    </div>
</ng-template>